@import url(../libs/normalize-css/normalize.css);
@font-face {
  font-family: 'Avenir-ECT';
  src: url("../fonts/Avenir-Book-01.ttf");
  font-weight: 400;
  font-display: swap; }

@font-face {
  font-family: 'Avenir-ECT';
  src: url("../fonts/Avenir-Heavy-05.ttf");
  font-weight: 700;
  font-display: swap; }

@font-face {
  font-family: 'Montserrat-ECT';
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: 400;
  font-display: swap; }

@font-face {
  font-family: 'Montserrat-ECT';
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
  font-display: swap; }

@font-face {
  font-family: 'Montserrat-ECT';
  src: url("../fonts/Montserrat-Medium.ttf");
  font-weight: 500;
  font-display: swap; }

* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  color: #666666;
  font-size: 16px;
  line-height: 1.5;
  font-family: Avenir-ECT, sans-serif;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat-ECT, sans-serif;
  font-weight: 700;
  color: #262161; }

h1 {
  font-size: 3.3em;
  line-height: 0.95; }

h2 {
  font-size: 1.6em;
  line-height: 1.21; }

h3 {
  font-size: 1em;
  line-height: 1.21; }

h4 {
  font-size: 21px;
  line-height: 27px; }

h5 {
  font-size: 14px;
  line-height: 18px; }

a {
  color: #FFB700;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  a:hover {
    color: #FFB700;
    text-decoration: none; }

a:hover, a:active, a:focus {
  outline: none; }

button, button:hover, button:active, button:focus {
  outline: none; }

input::-moz-focus-inner {
  border: 0; }

input:focus, textarea:focus {
  outline: none; }

object, embed {
  outline: none; }

::-webkit-input-placeholder {
  color: #666666;
  opacity: 1; }

::-moz-placeholder {
  color: #666666;
  opacity: 1; }

:-ms-input-placeholder {
  color: #666666;
  opacity: 1; }

::-ms-input-placeholder {
  color: #666666;
  opacity: 1; }

::placeholder {
  color: #666666;
  opacity: 1; }

.main-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 14px;
  font-weight: 400;
  background-color: #eee;
  z-index: 99;
  -webkit-transform: translateX(200%);
  -ms-transform: translateX(200%);
  transform: translateX(200%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; }
    .main-menu ul li {
      display: block;
      padding-left: 24px;
      padding-right: 24px;
      margin-bottom: 30px;
      line-height: 1; }
      .main-menu ul li a {
        position: relative;
        color: #262161;
        font-size: 18px;
        line-height: 18px;
        text-transform: uppercase;
        -webkit-transition: color 0.3s ease-in-out;
        transition: color 0.3s ease-in-out; }
        .main-menu ul li a:hover {
          color: #FFB700; }

.main-menu.open {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%); }

.main-menu .menu-button a {
  padding: 18px 65px;
  border: 1px solid #FFB700;
  border-radius: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .main-menu .menu-button a:hover {
    background-color: #FFB700;
    color: #fff; }

.dropdown-link:after {
  content: url("../img/arrow-down.svg");
  position: absolute;
  right: -5px;
  top: -2px; }

/* Toggle */
.toggle-btn {
  display: block;
  position: absolute;
  top: 32px;
  right: 15px;
  z-index: 9999999; }

.toggle-btn .hamburger {
  background-color: transparent;
  cursor: pointer;
  display: block; }

.hamburger .icon-bar {
  background-color: #FFB700;
  display: block;
  height: 4px;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 25px; }

.hamburger .icon-bar:not(:last-child) {
  margin-bottom: 4px; }

.menu-open .hamburger .icon-bar:nth-of-type(1) {
  top: 6px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.menu-open .hamburger .icon-bar:nth-of-type(2) {
  background-color: transparent; }

.menu-open .hamburger .icon-bar:nth-of-type(3) {
  top: -10px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

@media only screen and (min-width: 992px) {
  .toggle-btn {
    display: none; }
  .left-menu ul, .right-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .left-menu ul li, .right-menu ul li {
      display: inline-block;
      padding: 20px 25px; }
      .left-menu ul li a, .right-menu ul li a {
        font-family: Montserrat-ECT, serif;
        font-size: 16px;
        color: #262161;
        text-transform: uppercase; }
        .left-menu ul li a:hover, .right-menu ul li a:hover {
          color: #FFB700; } }

@media only screen and (min-width: 1300px) {
  .left-menu ul li, .right-menu ul li {
    padding: 20px 45px; } }

header {
  padding: 30px; }

.slider-item {
  position: relative; }
  .slider-item .slider-image {
    height: 320px;
    background-size: cover;
    background-position: center; }
  .slider-item .slider-text {
    background-color: #FFB700;
    color: #fff;
    padding: 20px 30px; }
    .slider-item .slider-text .slider-title {
      font-family: Montserrat-ECT, sans-serif;
      font-weight: 700;
      font-size: 1.6em;
      line-height: 1.21;
      margin-bottom: 15px; }
    .slider-item .slider-text .slider-subtitle {
      font-size: 0.9em; }

.slick-prev {
  z-index: 99;
  left: -35px;
  width: 72px;
  height: 72px; }

.slick-next {
  z-index: 99;
  right: -35px;
  width: 72px;
  height: 72px; }

.slick-prev:before {
  content: url("../img/slide-arrow.svg");
  width: 72px;
  height: 72px;
  background-color: #262161;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 1; }

.slick-prev:hover:before {
  background-color: #FFB700; }

.slick-next:before {
  content: url("../img/slide-arrow.svg");
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  width: 72px;
  height: 72px;
  background-color: #262161;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 1; }

.slick-next:hover:before {
  background-color: #FFB700; }

.slick-dots {
  bottom: -30px; }
  .slick-dots li {
    width: 20px;
    height: 3px;
    padding: 3px 0; }
    .slick-dots li button {
      width: 20px;
      height: 3px; }
      .slick-dots li button:before {
        content: '';
        width: 20px;
        height: 3px;
        background-color: rgba(145, 145, 145, 0.15);
        opacity: 1; }
  .slick-dots li.slick-active button:before {
    content: '';
    width: 20px;
    height: 3px;
    background-color: #FFB700; }
  .slick-dots li:hover button:before {
    content: '';
    width: 20px;
    height: 3px;
    background-color: #FFB700; }

#about {
  padding: 30px 0; }

.violet-button {
  font-family: Montserrat-ECT, sans-serif;
  font-weight: 500;
  font-size: 0.7em;
  line-height: 1;
  color: #fff;
  background-color: #262161;
  border-radius: 0;
  padding: 16px 65px;
  text-transform: uppercase; }
  .violet-button:hover {
    color: #fff;
    background-color: #FFB700; }

#what-we-do {
  padding: 30px 0;
  background: #F3F3F3;
  position: relative; }
  #what-we-do .top-curve {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center; }
  #what-we-do .bottom-curve {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center; }

#why-choose-us {
  padding: 30px 0 60px; }

.experience {
  position: relative;
  padding-left: 80px;
  margin-bottom: 30px; }
  .experience:before {
    content: url("../img/experience.svg");
    position: absolute;
    left: 0;
    top: 4px; }

.team {
  position: relative;
  padding-left: 80px;
  margin-bottom: 30px; }
  .team:before {
    content: url("../img/team.svg");
    position: absolute;
    left: 0;
    top: 4px; }

.first-place {
  position: relative;
  padding-left: 80px;
  margin-bottom: 30px; }
  .first-place:before {
    content: url("../img/first-place.svg");
    position: absolute;
    left: 6px;
    top: 4px; }

#opportunities {
  padding: 30px 0;
  background-color: #F3F3F3; }
  #opportunities .violet-button {
    padding-left: 40px;
    padding-right: 40px; }

.yellow {
  color: #FFB700; }

.violet {
  color: #262161; }

.ect {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #262161; }
  .ect li {
    position: relative;
    padding-left: 45px;
    margin-bottom: 10px; }
    .ect li:before {
      position: absolute;
      content: '';
      width: 22px;
      height: 3px;
      background-color: #FFB700;
      display: block;
      left: 0;
      top: 13px; }

#contact {
  padding: 30px 0;
  background-color: #262161;
  color: #fff; }

.address {
  position: relative;
  padding-left: 65px;
  font-size: 0.8em;
  line-height: 2.375;
  margin-bottom: 35px; }
  .address:before {
    content: url("../img/pin.svg");
    position: absolute;
    left: 0;
    top: 5px; }

.direction a {
  font-size: 0.6em;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  font-family: Montserrat-ECT, sans-serif;
  font-weight: 700; }
  .direction a:after {
    content: url("../img/arrow-right.svg");
    padding-left: 20px;
    vertical-align: middle;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .direction a:hover {
    color: #fff; }
    .direction a:hover:after {
      padding-left: 25px; }

.phone {
  position: relative;
  padding-left: 65px;
  font-size: 0.8em;
  line-height: 2.375;
  margin-bottom: 35px; }
  .phone:before {
    content: url("../img/phone.svg");
    position: absolute;
    left: 0;
    top: 5px; }
  .phone a {
    color: #fff; }
    .phone a:hover {
      color: #FFB700; }

.fax {
  position: relative;
  padding-left: 65px;
  font-size: 0.8em;
  line-height: 2.375;
  margin-bottom: 35px; }
  .fax:before {
    content: url("../img/fax.svg");
    position: absolute;
    left: 0;
    top: 0; }
  .fax a {
    color: #fff; }
    .fax a:hover {
      color: #FFB700; }

.email {
  position: relative;
  padding-left: 65px;
  font-size: 0.8em;
  line-height: 2.375;
  margin-bottom: 35px; }
  .email:before {
    content: url("../img/mail.svg");
    position: absolute;
    left: 0;
    top: 0; }
  .email a {
    color: #fff; }
    .email a:hover {
      color: #FFB700; }

.copyright {
  font-size: 0.5em;
  text-align: center; }

.form-wrap {
  background-color: #FFB700;
  padding: 20px 30px 10px; }
  .form-wrap input:not([type="submit"]) {
    font-family: Avenir-ECT, sans-serif;
    color: #666666;
    width: 100%;
    border: 1px solid #D89B00;
    font-size: 0.6em;
    padding: 13px 15px; }
  .form-wrap textarea {
    font-family: Avenir-ECT, sans-serif;
    color: #666666;
    width: 100%;
    height: 97px;
    border: 1px solid #D89B00;
    font-size: 0.6em;
    padding: 13px 15px; }
  .form-wrap input[type="submit"] {
    font-family: Montserrat-ECT, sans-serif;
    font-size: 0.6em;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    background-color: #262161;
    border-radius: 0;
    border: none;
    padding: 16.5px 144px 16.5px 17px;
    text-transform: uppercase;
    background-image: url("../img/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: 90% 50%; }
    .form-wrap input[type="submit"]:hover {
      color: #fff;
      background-color: #2d2774; }

#gallery {
    padding: 30px 0;
  }      

.gallery-image{
  margin-left: 12px;
  margin-right: 12px;
  min-height: 266px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}      

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .slider-item {
    height: 660px;
    position: relative; }
    .slider-item .slider-image {
      height: 620px;
      background-size: cover;
      background-position: center; }
    .slider-item .slider-text {
      background-color: #FFB700;
      color: #fff;
      padding: 45px 70px;
      position: absolute;
      bottom: 0;
      right: 60px;
      max-width: 640px; }
  .slick-prev {
    top: 80%; }
  .slick-next {
    top: 80%; }
  .slick-dots {
    bottom: -13px;
    text-align: left; }
    .slick-dots li {
      width: 30px;
      height: 3px;
      padding: 3px 0; }
      .slick-dots li button {
        width: 30px;
        height: 3px; }
        .slick-dots li button:before {
          content: '';
          width: 30px;
          height: 3px;
          background-color: rgba(145, 145, 145, 0.15);
          opacity: 1; }
    .slick-dots li.slick-active button:before {
      content: '';
      width: 30px;
      height: 3px;
      background-color: #FFB700; }
    .slick-dots li:hover button:before {
      content: '';
      width: 30px;
      height: 3px;
      background-color: #FFB700; }
  #about {
    padding: 60px 0; }
  #what-we-do {
    padding: 60px 0 230px; }
  #gallery {
    margin-top: -60px;
    padding: 0 0 60px;
  }
  #why-choose-us {
    padding: 60px 0 140px; }
  #opportunities {
    padding: 80px 0 60px; }
  #contact {
    padding: 60px 0 80px; }
  .form-wrap {
    padding: 70px 90px 50px; }
  .copyright {
    padding-left: 65px;
    text-align: left; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  body {
    font-size: 20px; } }

@media only screen and (min-width: 1300px) {
  .container {
    max-width: 1260px; }
  .slick-dots {
    bottom: -13px;
    text-align: left;
    padding-left: 30px; }
    .slick-dots li {
      width: 57px;
      height: 3px;
      padding: 3px 0; }
      .slick-dots li button {
        width: 57px;
        height: 3px; }
        .slick-dots li button:before {
          content: '';
          width: 57px;
          height: 3px;
          background-color: rgba(145, 145, 145, 0.15);
          opacity: 1; }
    .slick-dots li.slick-active button:before {
      content: '';
      width: 57px;
      height: 3px;
      background-color: #FFB700; }
    .slick-dots li:hover button:before {
      content: '';
      width: 57px;
      height: 3px;
      background-color: #FFB700; } }
